############################################################
# Rust / Cargo
############################################################

/target/
**/*.rs.bk


############################################################
# Cargo
############################################################

# For OS / binary projects, Cargo.lock SHOULD be committed.
# Uncomment only if this becomes a library.
# Cargo.lock


############################################################
# Editors and IDEs
############################################################

# VS Code
.vscode/

# IntelliJ / CLion
.idea/
*.iml

# Vim
*.swp
*.swo
*~

# Emacs
\#*\#
.\#*


############################################################
# macOS
############################################################

.DS_Store


############################################################
# OS / Kernel / Bare-metal outputs
############################################################

# Raw binaries and kernel images
*.bin
*.elf
*.img
*.iso

# Linker artifacts
*.map

# Emulator logs and dumps
qemu.log
*.log

# Build system outputs
/out/
/dist/
/build/


############################################################
# Temporary / Backup files
############################################################

*.tmp
*.bak
*.old
target/
