name: OxidOS CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: oxid-os

    steps:
      - uses: actions/checkout@v4

      - name: Install nightly Rust
        run: |
          rustup toolchain install nightly
          rustup default nightly

      - name: Install rust-src
        run: rustup component add rust-src --toolchain nightly

      - name: Build kernel
        run: cargo build -Z build-std=core,alloc,compiler_builtins --target x86_64-oxid_os.json
